<div class="col-md-12">
  <div class="card card-container">
    <h2>Mark Attendance</h2>
    <form>
      <div class="form-group">
        <label for="course-code">Course Code:</label>
        <select class="form-control" id="course-code" name="course-code" [(ngModel)]="selectedCourseCode">
          <option value="">-- Select a course --</option>
          <option *ngFor="let code of courseCodes" [value]="code">{{ code }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="course-name">Course Name:</label>
        <select class="form-control" id="course-name" name="course-name" [(ngModel)]="selectedCourseName">
          <option value="">-- Select a course --</option>
          <option *ngFor="let name of courseNames" [value]="name">{{ name }}</option>
        </select>
      </div>

      <button type="button" class="btn btn-primary" (click)="markAttendance()">Mark Attendance</button>
    </form>
  </div>
</div>